VITE_SHEETS_WEBAPP_URL=
VITE_SHEETS_API_SECRET=
VITE_GEMINI_API_KEY=
VITE_RECALL_SHEET_ID=1BikHFpFs_2d1W1RpvH53lisr6hZCRNVQTZHmHr1H8pU
VITE_CIRURGIAS_SHEET_ID=1ZORqTbcRRc0MCFwGbGlh4I_bLNPIWKsc7WRdoG1jGEI
VITE_SPREADSHEET_URL_RECALL=https://docs.google.com/spreadsheets/d/1BikHFpFs_2d1W1RpvH53lisr6hZCRNVQTZHmHr1H8pU/edit
VITE_SPREADSHEET_URL_CIRURGIAS=https://docs.google.com/spreadsheets/d/1ZORqTbcRRc0MCFwGbGlh4I_bLNPIWKsc7WRdoG1jGEI/edit
